# Ignore trained models
*.pkl

# Ignore Python cache
__pycache__/
*.py[cod]
*$py.class

# Ignore virtual environment
venv/
env/
ENV/

# Ignore Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# Ignore logs
*.log
